<div id="sub_systems" class="govuk-body epc-blue-bottom printable-area">
  <h2 class="govuk-heading-l"><%= t('ac_cert.sections.subsystems.title') %></h2>

  <% assessment[:subsystems].each do |s| %>

    <h3 class="govuk-heading-m"><%= s[:number] %></h3>

    <%== erb :component__summary_list, locals: {
      list: {
        "description": s[:description],
        "refrigerant_type": s[:refrigerantType],
        "age": s[:age]
      },
      translation_prefix: 'ac_cert.sections.subsystems.',
      skip_null: true
    } %>

  <% end %>
</div>
