<div id="inspection_report" class="govuk-body epc-blue-bottom printable-area">
  <h2 class="govuk-heading-l"><%= t('ac_cert.sections.inspection.title') %></h2>

  <% if  assessment[:relatedRrn]%>
    <p class="govuk-body"><%==
      t('ac_cert.sections.inspection.text',
        link: '<a class="govuk-link" href="' + localised_url('/energy-certificate/' + assessment[:relatedRrn]) + '">' +
          t('ac_cert.sections.inspection.cta') + '</a>')
    %></p>
  <% end %>
</div>
