<div class="govuk-body epc-blue-bottom executive-summary printable-area" id="executive_summary">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.exec_summary.title') %>
  </h2>
  <pre class="govuk-body"><%== assessment[:executiveSummary].respond_to?(:strip) ? assessment[:executiveSummary].strip : assessment[:executiveSummary] %></pre>
</div>
