<div class="epc-blue-bottom executive-summary">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.owner_operator.title') %>
  </h2>

  <%== erb :component__summary_list, locals: {
    list: {
      "owner_name": assessment[:equipmentOwner][:name],
      "owner_organisation": assessment[:equipmentOwner][:organisation],
      "owner_telephone": assessment[:equipmentOwner][:telephone],
      "owner_address":
        [
          assessment[:equipmentOwner][:address][:addressLine1],
          assessment[:equipmentOwner][:address][:addressLine2],
          assessment[:equipmentOwner][:address][:addressLine3],
          assessment[:equipmentOwner][:address][:addressLine4],
          assessment[:equipmentOwner][:address][:town],
          assessment[:equipmentOwner][:address][:postcode],
      ].reject{ |s| s.nil? || s.empty?}.join(', '),
      "operator_responsible_person": assessment[:equipmentOperator][:responsiblePerson],
      "operator_organisation": assessment[:equipmentOperator][:organisation],
      "operator_telephone": assessment[:equipmentOperator][:telephone],
      "operator_address":
        [
          assessment[:equipmentOperator][:address][:addressLine1],
          assessment[:equipmentOperator][:address][:addressLine2],
          assessment[:equipmentOperator][:address][:addressLine3],
          assessment[:equipmentOperator][:address][:addressLine4],
          assessment[:equipmentOperator][:address][:town],
          assessment[:equipmentOperator][:address][:postcode],
      ].reject{ |s| s.nil? || s.empty?}.join(', '),
    },
    translation_prefix: 'ac_report.sections.owner_operator.',
    skip_null: true
  } %>

</div>
