<div class="epc-blue-bottom executive-summary">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.air_handling_systems.title') %>
  </h2>

  <% assessment[:airHandlingSystems].each do |system| %>
    <h3 class="govuk-heading-m">
      <%= system[:equipment][:unit] %>: <%= system[:equipment][:component] %>
    </h3>

    <%== erb :component__summary_list, locals: {
      list: system[:equipment].reject{|k| [:unit, :component].include? k},
      translation_prefix: 'ac_report.sections.air_handling_systems.equipment.',
      skip_null: true
    } %>
<% end %>
</div>
