<div class="epc-blue-bottom executive-summary">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.exec_summary.title') %>
  </h2>
  <pre style="white-space: pre-wrap;"><%== assessment[:executiveSummary] %></pre>
</div>
