<div id="administrative_information" class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%=
    t('ac_report.sections.system_controls.title')
  %></h2>

  <% assessment[:systemControls].each do |system| %>
    <h3 class="govuk-heading-m">
      <%= t('ac_report.sections.system_controls.subtitle_prefix')%> <%= system[:subSystemId] %>
    </h3>

    <% end %>
</div>
