<div class="govuk-body epc-blue-bottom printable-area">
  <a id="inspection_certificate"></a>
  <h2 class="govuk-heading-l"><%=
    t('ac_report.sections.inspection_certificate.title')
  %></h2>
  <p class="govuk-body">
      <a class="govuk-link" href="<%= localised_url("/energy-certificate/#{assessment[:relatedRrn]}") %>"> <%= t('ac_report.sections.inspection_certificate.text') %></a>
  </p>
</div>
