<div class="epc-blue-bottom executive-summary">
  <h2 class="govuk-heading-l">
    <%= t('ac_report.sections.pre_inspection.title') %>
  </h2>

  <%== erb :ac_report__pre_inspection__checklist, locals: {
    list: assessment[:preInspectionChecklist][:essential],
    translation_prefix: 'ac_report.sections.pre_inspection.essential.'
  } %>

  <%== erb :ac_report__pre_inspection__checklist, locals: {
    list: assessment[:preInspectionChecklist][:desirable],
    translation_prefix: 'ac_report.sections.pre_inspection.desirable.'
  } %>

  <%== erb :ac_report__pre_inspection__checklist, locals: {
    list: assessment[:preInspectionChecklist][:optional],
    translation_prefix: 'ac_report.sections.pre_inspection.optional.'
  } %>

</div>
