<div class="print-view print-summary">
  <span class="print-summary-address print-summary-section">

  </span>
  <span class="print-summary-rating print-summary-section">

  </span>
  <span class="print-summary-details print-summary-section">

  </span>
</div>
