<div class="component__print">
  <a onclick="window.print();return false;" class="govuk-link govuk-!-margin-bottom-5" id="link" href="#" style="display: none;"><%= t('component.print.label', type: t('component.print.type')) %></a>
  <noscript><p class="govuk-body"><%= t('component.print.noscript_text') %></p></noscript>
  <script>document.getElementById('link').style.display = 'block';</script>
</div>
