<% if assessment_superseded?(assessment) %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      A new certificate has replaced this one. <a class="govuk-link" href="<%= localised_url('/energy-certificate/' + get_superseded_assessment_id(assessment)) %>">See the new certificate</a>.
    </strong>
  </div>
<% end %>
