<div class="component__contents">
  <h2 class="govuk-heading-m"><%= title %></h2>
  <div class="dashed-p">
    <% sections.each do |section| %>
      <p class="govuk-body"><a href="<%= section[:link] %>"><%=
        t(section[:text])
      %></a></p>
    <% end %>
  </div>
</div>
