<div class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%= t('dec_rr.sections.building.title') %></h2>

  <%== erb :component__summary_list, locals: {
    list: {
      "occupier": assessment[:technicalInformation][:occupier],
      "building_type": assessment[:technicalInformation][:propertyType],
      "building_environment": assessment[:technicalInformation][:buildingEnvironment],
      "renewable": assessment[:technicalInformation][:renewableSources],
    },
    translation_prefix: 'dec_rr.sections.building.',
    skip_null: true
  } %>
</div>
