<div class="govuk-body epc-blue-bottom">
  <h2 class="govuk-heading-l"><%= t('dec_rr.sections.rating.title') %></h2>
  <p class="govuk-body"><%= t('dec_rr.sections.rating.text', band: assessment[:energyBandFromRelatedCertificate].upcase) %></p>
  <p class="govuk-body"><%==
    t(
      'dec_rr.sections.rating.dec',
      cta: '<a href="' + localised_url("/energy-certificate/#{assessment[:relatedRrn]}") + '">' + t('dec_rr.sections.rating.cta') + '</a>'
    )
  %></p>
</div>
