<div class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%= t('dec_rr.sections.other_reports.title') %></h2>
  <p class="govuk-body"><%=
    t('dec_rr.sections.other_reports.reminder', contact_centre_number: t('contact.help_desk_number'))
  %></p>
</div>
