<div id="administrative_information" class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%=
    t('dec.sections.administrative_information.title')
  %></h2>
  <dl class="govuk-summary-list">

    <%== erb :component__summary_list, locals: {
      list: {
        "assessment_software": { value: administrative_information[:calculationTool] },
        "property_reference": { value: address[:addressId] },
        "assessor.list.name": assessor[:name],
        "assessor.list.telephone": { value: assessor[:contactDetails][:telephoneNumber] },
        "assessor.list.email": { type: "email", value: assessor[:contactDetails][:email] },
        "assessor.list.number":  { value: assessor[:schemeAssessorId] },
        "scheme.name": scheme_details(assessor, 'name'),
        "scheme.phone": scheme_details(assessor, 'phone'),
        "scheme.email":  { type: "email", value: scheme_details(assessor, 'email') },
        "company_name": assessor[:companyDetails][:name],
        "company_address": assessor[:companyDetails][:address],
        "issue_date": date(administrative_information[:issueDate]),
        "nominated_date": date(assessment[:currentAssessment][:date]),
        "valid_until": { value: date(assessment[:dateOfExpiry]) },
        "related_party_disclosure": party_disclosure(
          administrative_information[:relatedPartyDisclosure].nil? ?
            "8" :
            administrative_information[:relatedPartyDisclosure], "", "dec_disclosure_code", "dec"
        ),
        "download_xml": { type: "link", value: t("dec.sections.administrative_information.download_xml_cta"), link: localised_url("/energy-certificate/" + assessment[:assessmentId] + "/dec_summary") },
      },
      translation_prefix: 'dec.sections.administrative_information.',
      skip_null: true
    } %>

  </dl>
</div>
