<div class="govuk-body">
  <h2 class="govuk-heading-l"><%= t('dec.sections.rating.title') %></h2>
  <p class="govuk-body"><%= t('dec.sections.rating.description') %></p>
  <p class="govuk-body"><%= t('dec.sections.rating.typical_rating') %></p>
</div>
