<div id="building" class="govuk-body epc-blue-bottom printable-area">
  <h2 class="govuk-heading-l"><%= t('dec_rr.sections.building.title') %></h2>

  <%== erb :component__summary_list, locals: {
    list: {
      "occupier": assessment[:technicalInformation][:occupier],
      "building_type": assessment[:technicalInformation][:propertyType],
      "building_environment": assessment[:technicalInformation][:buildingEnvironment],
      "renewable": assessment[:technicalInformation][:renewableSources],
      "discount": assessment[:technicalInformation][:discountedEnergy],
      "electricity_used": site_service_quantity(assessment, "Electricity").nil? ? nil : [site_service_quantity(assessment, "Electricity"), t('unit.kilowatt_hour')].join(' '),
      "gas_used": site_service_quantity(assessment, "Gas").nil? ? nil : [site_service_quantity(assessment, "Gas"), t('unit.kilowatt_hour')].join(' '),
      "floor_area": [assessment[:technicalInformation][:floorArea], t('unit.square_metres')].join(' '),
      "building_reference": assessment[:address][:addressId],
      "issue_date": date(assessment[:technicalInformation][:dateOfIssue]),
      "calculation_tool": assessment[:technicalInformation][:calculationTool],
      "inspection_type": assessment[:technicalInformation][:inspectionType],
    },
    translation_prefix: 'dec_rr.sections.building.',
    skip_null: true
  } %>
</div>
