<div id="administrative_information" class="epc-blue-bottom">
  <h2 class="govuk-heading-l"><%=
    t('dec.sections.administrative_information.title')
  %></h2>
  <p class="govuk-body govuk-!-display-none-print"><%=
    t('dec.sections.administrative_information.description')
  %></p>
  <dl class="govuk-summary-list">

    <%== erb :component__summary_list, locals: {
      list: {
        "assessment_software":  administrative_information[:calculationTool],
        "property_reference": address[:addressId],
        "assessor.list.name": { value: assessor[:name], print: true},
        "assessor.list.telephone": assessor[:contactDetails][:telephoneNumber],
        "assessor.list.email": {type: "email", value: assessor[:contactDetails][:email]},
        "assessor.list.number":  assessor[:schemeAssessorId],
        "scheme_name": { value: assessor[:registeredBy][:name], print: true},
        "company_name": { value: assessor[:companyDetails][:name], print: true},
        "company_address": { value: assessor[:companyDetails][:address], print: true},
        "issue_date": { value: date(administrative_information[:issueDate]), print: true},
        "nominated_date": { value: date(assessment[:currentAssessment][:date]), print: true},
        "valid_until": date(assessment[:dateOfExpiry]),
        "related_party_disclosure": { value:  party_disclosure(
          administrative_information[:relatedPartyDisclosure].nil? ?
            "8" :
            administrative_information[:relatedPartyDisclosure], "", "dec_disclosure_code", "dec"
        ), print: true},
      },
      translation_prefix: 'dec.sections.administrative_information.',
      skip_null: true
    } %>

  </dl>
  <div class="govuk-!-display-none-print">
    <% if  administrative_information[:relatedRrn]%>
      <p class="govuk-body"><%==
        t('dec.sections.administrative_information.related_report.text',
          link: '<a href="' + localised_url('/energy-performance-certificate/' + administrative_information[:relatedRrn]) + '">' +
            t('dec.sections.administrative_information.related_report.cta') + '</a>')
      %></p>
    <% end %>
  </div>
</div>
