<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%=t('find_assessor_by_postcode.scheme_not_found.heading')%></h1>
    <p class="govuk-body">
      <%=t('find_assessor_by_postcode.scheme_not_found.body')%>.
    </p>
  </div>
</div>
