

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('error.413.heading') %></h1>
    <p class="govuk-body"> <%== t('error.413.body', :link=>'<a class="govuk-link" href="'+localised_url(locals[:search_by_postcode_url])+'" >'+t('error.413.cta_search_by_postcode')+'</a>') %>
    <p class="govuk-body">
      <%== t('error.413.royal_mail_link',
             link: '<a class="govuk-link" href="https://www.royalmail.com/find-a-postcode">'+t('error.413.cta_royal_mail')+'</a>') %>
    </p>
  </div>
</div>
