<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('error.410.heading') %></h1>
    <p class="govuk-body"><%= t('error.410.body') %> <a class="govuk-link" href="<%= localised_url('/') %>"> <%= t('error.410.service_link') %></a>.</p>
  </div>
</div>
