<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('find_assessor_by_postcode.results.top_heading') %>
    </h1>

    <p class="govuk-body">
      <%= t('find_assessor_by_postcode.results.description') %>
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t('find_assessor_by_postcode.results.accreditation_summary_title') %>
        </span>
      </summary>
      <div class="govuk-details__text">
        <%= t('find_assessor_by_postcode.results.accreditation_summary_text') %>
      </div>
    </details>
  </div>
</div>
