<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Find an energy assessor for a residential property
    </h1>
    <p class="govuk-body">
      You need a recent Energy Performance Certificate (EPC) before you sell or let a residential property.
    </p>
    <p class="govuk-body">
      Use this service to find a qualified assessor to measure the energy efficiency of your property, or the
      property of someone you represent. The assessor will create an EPC.
    </p>
    <p class="govuk-body">
      If your property is in Scotland, you should use the 
      <a href="https://www.gov.scot/publications/energy-performance-certificates-introduction/">
        Scottish government’s EPC service.
      </a>
    </p>

    <h3 class="govuk-heading-s">You do not need an EPC if the property:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>is less than 50m<sup>2</sup></li>
      <li>is not a residential property</li>
      <li>is temporarily residential, with a planned use of 2 years or less</li>
      <li>will be demolished</li>
    </ul>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is involved in an assessment
        </span>
      </summary>
      <div class="govuk-details__text">
        <li class='govuk-list'>
          <li>An assessment takes around 30 minutes, depending on the size of your property.</li>
          <li>Someone must be at the property to let the assessor in.</li>
          <li>The assessment should not cause any damage to harm the property.</li>
        </ul>
      </div>
    </details>

    <a 
      href="#" 
      role="button" 
      draggable="false" 
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  
      data-module="govuk-button">
      Start now
      <svg 
        class="govuk-button__start-icon" 
        xmlns="http://www.w3.org/2000/svg" 
        width="17.5" 
        height="19" 
        viewBox="0 0 33 40" 
        role="presentation" 
        focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">
        The service is also available by calling 
        <a href="tel:098765432">
          0987 65432
        </a>.
      </p>

      <p class="govuk-body">
        The online service is also available in 
        <a href="#">
          Welsh (Cymraeg)
        </a>.
      </p>

      <p class="govuk-body">
        If your property is for commercial use, you need to use a 
        <a href="#" class="govuk-link">
          commercial energy assessment service
        </a>.
      </p>
  </div>
</div>
