<div id="assessor_details" class="govuk-body epc-blue-bottom">
  <h2 class="govuk-heading-l"><%= t('non_domestic_epc.rr.assessor_details.title') %></h2>
  <% assessor_declaration = party_disclosure(assessment[:relatedPartyDisclosure].nil? ? "13" : assessment[:relatedPartyDisclosure], assessment[:relatedPartyDisclosure], "non_domestic_disclosure_code", "non_domestic_epc") %>
  <%== erb :component__summary_list, locals: {
    list: {
      "name":  assessment[:assessor][:name],
      "phone":  assessment[:assessor][:contactDetails][:telephone],
      "email": { type: "email", value: assessment[:assessor][:contactDetails][:email] },
      "employer_name":  assessment[:assessor][:companyDetails][:name],
      "employer_address":  assessment[:assessor][:companyDetails][:address],
      "number":  assessment[:assessor][:schemeAssessorId],
      "scheme":  scheme_details(assessment[:assessor], 'name'),
      "declaration": assessor_declaration
    },
    translation_prefix: 'non_domestic_epc.rr.assessor_details.',
    skip_null: true
  } %>

</div>
