<div id="energy_performance_breakdown" class="govuk-body epc-blue-bottom printable-area epc-energy-perf-breakdown">
  <h2 class="govuk-heading-l"><%=
    t('non_domestic_epc.energy_performance_breakdown.heading')
  %></h2>

  <%== erb :component__summary_list, locals: {
    list: {
      "main_heating_fuel": { value: main_heating_fuel },
      "building_environment": { value: building_environment },
      "assessment_level": { value: assessment_level },
      "emission_rate": { value: emission_rate },
      "primary_energy_use": { value: (primary_energy_use.nil? ? nil : primary_energy_use.to_f.round.to_s)},
    },
    translation_prefix: 'non_domestic_epc.energy_performance_breakdown.',
    skip_null: true
  } %>

  <% unless primary_energy_use.nil? %><%== erb :__primary_energy_use_dropdown %><% end %>

</div>
