<% unless values.nil? %>
  <h2 class="govuk-heading-l"><%= "#{header} (#{assessment_type})" %></h2>

  <% sections = [
      { heading: {
          text: t('service_performance.contents.epcs_upload.tables.titles.all'),
          prefix: t('service_performance.contents.epcs_upload.tables.hidden.certificates_uploaded_all', :assessment_type => assessment_type),
        },
        content: {
          html: erb(:partial__stats_table, locals: {
            assessment_type: assessment_type,
            country_key: "all",
            values: values["all"],
            show_average_rating: show_average_rating,
          })
        }},
      { heading: {
          text:  t('service_performance.contents.epcs_upload.tables.titles.england_wales'),
          prefix: t('service_performance.contents.epcs_upload.tables.hidden.certificates_uploaded_country', :assessment_type => assessment_type),
        },
        content: {
          html: erb(:partial__stats_table, locals: {
            assessment_type: assessment_type,
            country_key: "england_wales",
            values: values["England & Wales"],
            show_average_rating: show_average_rating,
          })
        }},
      { heading: {
          text:  t('service_performance.contents.epcs_upload.tables.titles.northern_ireland'),
          prefix: t('service_performance.contents.epcs_upload.tables.hidden.certificates_uploaded_country', :assessment_type => assessment_type),
        },
        content: {
          html: erb(:partial__stats_table, locals: {
            assessment_type: assessment_type,
            country_key: "northern_ireland",
            values: values["Northern Ireland"],
            show_average_rating: show_average_rating,
          })
        }},
  ] %>
  <%== erb :design_system__accordion, locals: {
    items: sections,
    id: "accordion-#{assessment_type.downcase}",
    hideAllSectionsText: t("service_performance.accordion_controls.hide_all_sections"),
    hideSectionText: t("service_performance.accordion_controls.hide_section"),
    hideSectionAriaLabelText: t("service_performance.accordion_controls.hide_section_expanded"),
    showAllSectionsText: t("service_performance.accordion_controls.show_all_sections"),
    showSectionText: t("service_performance.accordion_controls.show_section"),
    showSectionAriaLabelText: t("service_performance.accordion_controls.show_section_expanded"),
  } %>
<% end %>
