<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Service Performance</h1>

      <div class="govuk-body">
      <table class="govuk-table" id="a">
        <caption class="govuk-table__caption govuk-table__caption--m">Monthly assessments stats</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Month/Year</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Number Lodged</th>
          <th scope="col" class="govuk-table__header">Average Energy Rating</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <% locals[:data].each do |row| -%>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell month-year" > <%= row[:month].to_s %></td>
          <td class="govuk-table__cell assessment-type"><%= row[:assessmentType] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric num-assessments"><%= row[:numAssessments] %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric rating-average"><%= row[:ratingAverage].round(2) %></td>
        </tr>
        <% end -%>
        </tbody>
      </table>

      </div>
    </div>


  </div>
</div>
