table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  border-spacing: 0;
  border: none;
  margin-bottom: 0.6rem;
}

table tr, table tr td, table tr th {
  vertical-align: top;
  text-align: left;
  padding: 0;
}

table th, table td {
  font-size: 0.8rem;
}

table.split table:last-child {
  margin-bottom: 0;
}

table.split {
  margin-bottom: 0;
}

table.split > tbody > tr > td {
  width: 50%;
  padding-right: 30px;
}

table.split > tbody > tr > td:last-child {
  width: 45%;
  padding-right: 0;
  padding-left: 15px;
}

table.accentuate {
  background: #1d70b8;
  color: #fff;
}

table.accentuate table {
  color: #fff;
}

table.numerical tbody tr td {
  text-align: right;
}

table.numerical thead tr th:not(:first-child) {
  text-align: right;
}

table.header {
  background: #000;
  color: #fff;
  line-height: 2rem;
}

table.header h1.govuk-heading-m {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 3rem;
  font-size: 1.8rem;
}

table.accentuate p.govuk-body {
  color: #fff;
}

table.accentuate > tbody > tr > td {
  padding: 0.8rem 1rem;
  border-left: 1px solid #fff;
}

table.accentuate > tbody > tr > td:first-child {
  border-left: none;
}

td.giant-letter {
  text-align: center;
  vertical-align: middle;
}

td.giant-letter span {
  font-size: 5rem;
  font-weight: 700;
}

table.greybox {
  background: #eee;
  margin-bottom: 1rem;
}

table.greybox > tbody > tr > td {
  padding: 0.6rem 0.9rem;
}

table.border-bottom tr td, table.border-bottom tr th {
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 0.5rem;
  vertical-align: middle;
}

table.border-bottom tr td:first-child, table.border-bottom tr th:first-child {
  padding-left: 0;
  width: 45%;
}

table.border-bottom tr td:last-child, table.border-bottom tr th:last-child {
  padding-right: 0;
}

table.accentuate table.border-bottom tr td, table.accentuate table.border-bottom tr th {
  border-bottom-color: #fff;
}

table.border-bottom tbody tr:last-child td, table.border-bottom tbody tr:last-child th {
  border-bottom: none;
}

table > tbody > tr > td > table.border-bottom {
  margin-bottom: 0;
}

table.border-bottom h3, table.border-bottom p {
  margin: 0!important;
  padding: 0!important;
}

.hm-gov-crest {
  height: 3rem;
  padding: 0 5px;
  float: right;
}

.energy-rating-chart-printable-dec {
  width: 100%;
}

.energy-rating-arrow {
  height: 1.8rem;
}

.small-font {
  font-size: 0.8rem;
}

.address-small-font {
  font-size: 0.9rem;
  margin: 0;
}

.light-font {
  font-weight: 300;
}

@-moz-document url-prefix() {
  @media print {
    html {
      background-color: #ffffff !important;
    }
  }

  table.accentuate, table.accentuate table, table.header, table.header h1.govuk-heading-m, table.accentuate p.govuk-body {
    color: transparent;
    text-shadow: 0 0 0 #fff;
  }
}

@media not all and (min-resolution:.001dpcm) {
  @media {
    p.govuk-body {
      margin-bottom: 0.5rem;
    }

    svg[role="img"] {
      zoom: 0.70;
    }

    table {
      margin-bottom: 0.5rem;
    }

    table.greybox {
      margin-bottom: 0.4rem;
    }

    table.greybox > tbody > tr > td {
      padding: 5px;
    }
  }
}
