$govuk-global-styles: true;
$govuk-assets-path: '';

@import "./node_modules/govuk-frontend/govuk/all";
@import "./assets/components/cookie-banner";
@import "./assets/components/fieldset-banner";
@import "./assets/components/epc-box";
@import "./assets/components/environmental-impact-chart";
@import "./assets/components/related-items";
@import "./assets/components/expired-text";
@import "./assets/components/section-breaks";
@import "./assets/components/search";
@import "./assets/components/print";
@import "./assets/components/report_contents";
@import "./assets/components/epc-print-summary";

