.cookie-consent-box {
  background-color: #f3f2f1;
  box-shadow: 0 2px 8px #b1b4b6;
  overflow: hidden;
  margin-bottom: 30px;
  max-height: 600px;
}

.cookie-consent-box.hidden {
  box-shadow: 0 2px 8px transparent;
  max-height: 0;
  transition: box-shadow ease-in 0s 0.2s, max-height ease-in 0.2s;
}

.cookie-consent-box .inner-box {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 640px;
}

.cookie-consent-box a.govuk-button {
  float: left;
  padding-left: 40px;
  padding-right: 40px;
}

.cookie-consent-box a.govuk-button.reject {
  float: right;
}
