.recommendations-box{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

.recommendations-text {
  width: 450px;
}

@media print {
  div.recommendations-box {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: flex-start;
    font-size: $epc-box-print-base-font-size;

    .recommendations-text {
      flex-shrink: 1;
      width: 85%;
      padding-top: 1rem;
      padding-left: 0;
      font-size: $epc-box-print-base-font-size;
    }
    .epc-rating-box {
      flex-shrink: 1;
      border: none;
      float: none;
      border-left: $epc-box-gutter solid #fff;
      margin: 0;
      padding: 1rem 0 10px;
      width: 15%;

      .epc-rating-title {
        font-size: $epc-box-print-base-font-size;
        margin-bottom: 0;
        line-height: normal;
        text-wrap: normal;
      }

      .epc-rating-result {
        font-size: 3rem;
        margin-bottom: 0;
        line-height: 3.5rem;
      }
    }
    }
  }
