@mixin black-bg-if-monochrome {
  @media print and (monochrome) {
    background-color: #000;
  }
}

.epc-box-summary {
  background: #1d70b8;
  color: #fff;

  @include black-bg-if-monochrome;

  display: grid;
  grid-template-areas: "address id" "address expiry";
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  margin-top: 0;

  dd {
    margin: 0;
  }

  > div {
    padding: 15px;
  }

  .epc-box-summary__address {
    grid-area: address;
    border-right: 2px solid #fff;
  }

  .epc-box-summary__id {
    grid-area: id;
    text-align: center;
  }

  .epc-box-summary__expiry {
    grid-area: expiry;
    border-top: 2px solid #fff;
    text-align: center;
  }
}

.govuk-summary-list {

  .epc-box-container & {
    margin-bottom: 0;
  }
}

.epc-rating-box {
  width: 150px;
  background: #1d70b8;
  text-align: center;
  float: right;
  border: 2px solid #fff;
  margin: 1rem;

  @include black-bg-if-monochrome;

  .epc-rating-title {
    line-height: 30px;
    font-size: 20px;
  }

  .epc-rating-result {
    line-height: 100px;
    font-size: 100px;
    font-weight: bold;
  }

  .govuk-body {
    color: #fff;
  }
}

.epc-box {
  color: #fff;
  background: #1d70b8;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @include black-bg-if-monochrome;

  .epc-address {
    margin: 1.5rem;
    flex: 4 1 0;
  }

  .epc-extra-boxes {
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .epc-extra-box {
    border-top: 2px solid #fff;
    clear: both;
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
    width: 50%;

    label {
      display: block;
      margin: 1rem;
    }

    p {
      display: block;
      margin: 1rem;
    }

    +.epc-extra-box {
      border-left: 2px solid #fff;
      box-sizing: border-box;
      float: right;
      clear: none;
    }
  }

  .govuk-body {
    color: #fff;
  }
}

@-moz-document url-prefix() {
  .epc-box-summary {
    width: 100%;
    -moz-box-sizing: border-box;
  }
}

$epc-box-print-base-font-size: 0.8rem;
$epc-box-gutter: 2px;

@media print {
  div.epc-box {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    font-size: $epc-box-print-base-font-size;
    align-items: stretch;

    .epc-address {
      flex-shrink: 0;
      width: 35%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0;
      font-size: $epc-box-print-base-font-size;
      margin: 0;
    }
    .epc-rating-box {
      flex-shrink: 0;
      width: 15%;
      border: none;
      float: none;
      border-left: $epc-box-gutter solid #fff;
      margin: 0;
      padding: 1rem 0 10px;

      .epc-rating-title {
        font-size: $epc-box-print-base-font-size;
        margin-bottom: 0;
        line-height: normal;
      }

      .epc-rating-result {
        font-size: 3rem;
        margin-bottom: 0;
        line-height: 3.5rem;
      }
    }
    .epc-extra-boxes {
      flex-shrink: 0;
      width: 50%;
      border-left: $epc-box-gutter solid #fff;
      display: flex;
      flex-direction: column;
    }
    .epc-extra-box {
      border-top: none;
      width: auto;
      display: flex;
      flex-direction: row;
      margin-bottom: 0 !important;
      line-height: inherit;
      padding-top: $epc-box-print-base-font-size + 0.4rem;
      height: 50%;

      & + .epc-extra-box {
        float: none;
        border-left: none;
        border-top: $epc-box-gutter solid #fff;
        padding-top: $epc-box-print-base-font-size + 0.4rem;
      }

      label, p {
        font-size: $epc-box-print-base-font-size;
        text-align: left;
        margin-top: 0;
      }

      label {
        flex: 2;
        max-width: 100px;
      }

      p {
        flex: 3;
      }

      label:after {
        content: ":";
      }
    }
  }
}
