@media print {
  .epc-no-print, footer, .app-cookie-banner, .govuk-back-link {
    display: none;
  }

  h1, .no-print {
    display: none !important;
  }

  .epc-page-break {
    display: block;
    clear: both;
    page-break-after: always;
  }

  .govuk-grid-column-full, .govuk-width-container {
    width: auto !important;
    float: none !important;
  }
}
