.print-view {
  display: none;
}

@media print {

  @page {
    size: A4;
    margin: 10mm;
    background-color: white;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    box-sizing: border-box;
  }

  div.govuk-grid-column-two-thirds {
    all: initial;
    visibility: inherit;
    float: none !important;
  }

  .column-l {
    width: 48%;
    padding: 10px;
    left: 30px;
    float: left;
    margin-left: 10px;
  }

  .column-r {
    width: 48%;
    padding: 10px;
    float: left;
  }

  .epc-blue-bottom {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  .print-view {
    display: block;
  }

  .epc-page-break {
    display: block;
    clear: both;
    page-break-after: always;
  }

  .govuk-grid-column-full, .govuk-width-container {
    width: auto !important;
    float: none !important;
  }

  .dec-print-header {
    background-color: #0b0c0c;
    height: 60px;
  }

  p.govuk-body {
    font-size: 13px;
  }

  table.govuk-table {
    margin-bottom: 0;
  }

  tr.govuk-table__row {
    &:last-of-type {
      border-bottom-style: hidden;
    }
  }

  .govuk-table__header {
    font-size: 13px;
  }

  .govuk-table__cell {
    font-size: 13px;
  }

  div.print-background {
    background-color: #F2EFEF;
    padding: 15px;
  }
}
