.print-view {
  display: none;
}

@media print {

  @page {
    size: auto;  margin: 0mm;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .row:after {
    display: table;
    clear: both;
  }

  .epc-no-print, footer, .app-cookie-banner, .govuk-back-link {
    display: none;
  }

  .epc-blue-bottom {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  .print-view {
    display: block;
  }

  .epc-page-break {
    display: block;
    clear: both;
    page-break-after: always;
  }

  .govuk-grid-column-full, .govuk-width-container {
    width: auto !important;
    float: none !important;
  }

  .dec-print-header {
    background-color: #0b0c0c;
    height: 60px;
  }
}
