div.epb-recommended-improvements {
  dd {
    text-align: right;
  }
}

div.epb-recommended-improvements__potential-rating {
  dt {
    vertical-align: top;
  }
  svg {
    vertical-align: middle;
  }
}
