.dashed-p {
  margin-bottom: 40px;

  p {
    margin: 0!important;
    padding: 0!important;
    padding-left: 25px!important;

    a {
      text-decoration: none;
    }

    &:before {
      content: "";
      margin-top: 13px;
      width: 15px;
      border-bottom: 1px solid #000;
      display: block;
      float: left;
      margin-left: -25px;
      margin-right: 10px;
    }
  }
}
