.epc-search-fieldset {
  padding: 0;
  border: none;
  display: block;
  margin: 0 0 40px;

  .epc-search-bar-holder {
    margin-right: 40px;

    .epc-search-bar {
      display: block;
    }
  }

  .epc-search-button {
    width: 40px;
    height: 40px;
    margin-top: -40px;
    float: right;
    position: relative;
    -webkit-appearance: none;
    border: none;
    background-color: #1d70b8;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyI+PGcgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNmZmZmZmYiIGZpbGw9Im5vbmUiPjxwYXRoIGQ9Ik0xMS4yOSAxMS43MWwtNC00Ii8+PGNpcmNsZSBjeD0iNSIgY3k9IjUiIHI9IjQiLz48L2c+PC9zdmc+");
    background-size: 40% auto;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-color: #207dce;
    }
  }
}
