.language-toggle__list {
  margin-top: 1em;
  text-align: right;
}
.language-toggle__list-item {
  display: inline-block;
}
.language-toggle__list-item:first-child {
  display: inline-block;
}
.language-toggle__list-item:first-child:after {
  content: "";
  display: inline-block;
  border-right: 1px solid #0b0c0c;
  position: relative;
  top: .1875em;
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
